main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "game alerts";
}

section.game {
    grid-area: game;
}

.tab-row {
    padding-top: 20px;
}

.tab-btn.active {
    background: blue;
    color: white;
}

.canvas-pong {
    border: 1px solid black;
}